<?xml version="1.0"?>
<config>
    <modules>
        <MyCompany_TechTalk>
            <version>0.1.1</version>
        </MyCompany_TechTalk>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>MyCompany_TechTalk</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>MyCompany_TechTalk</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <slider>
                <class>MyCompany_TechTalk_Helper</class>
            </slider>
        </helpers>
        <blocks>
            <slider>
                <class>MyCompany_TechTalk_Block</class>
            </slider>
        </blocks>
        <models>
            <slider>
                <class>MyCompany_TechTalk_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>MyCompany_TechTalk_Model_Resource</class>
                <entities>
                    <imagedetail>
                        <table>detail</table>
                    </imagedetail>
                    <imagecategory>
                        <table>category</table>
                    </imagecategory>
                </entities>
            </slider_resource>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>MyCompany_TechTalk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
    </global>
</config>